<p>
  <a class="btn btn-line" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Tech Skills</a>
  <button class="btn btn-line" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Other Skills</button>
  <button class="btn btn-line" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">See all skills</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body skills">
        <ul class="list-styled">
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>JavaScript</li>
          <li>HTML</li>
          <li>CSS/SCSS</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body skills">
        <ul class="list-styled">
          <li>Communication</li>
          <li>Leadership</li>
          <li>Reliability</li>
          <li>English(Fluent)</li>
          <li>Japanese(JLPT N3)</li>
        </ul>
      </div>
    </div>
  </div>
</div>